# --- Data & Processing ---
pandas==2.1.4
numpy==1.26.2

# --- API Clients ---
facebook-business==18.0.0
spotipy==2.23.0
google-api-python-client==2.108.0

# --- Dashboard (Local only - Docker les installera mais ne s'en servira pas) ---
streamlit==1.29.0
plotly==5.18.0
watchdog==3.0.0

# --- Utilities ---
PyYAML==6.0.1
requests==2.31.0
python-dotenv==1.0.0

# --- Database Driver ---
psycopg2-binary==2.9.9

# --- Providers Airflow ---
# On ne force PAS la version de Airflow ici, car elle est déjà dans l'image Docker
# On ajoute juste les providers supplémentaires
apache-airflow-providers-postgres
apache-airflow-providers-http
apache-airflow-providers-common-sql
isodate==0.6.1